* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  #headline {
    color: white;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    top: 50px;
    text-align: right;
    animation: typing 2s steps(1000) infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .container {
    background-color: black;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .face {
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
  }
  

  .face::before {
    content: "";
    top: 65%;
    left: 23%;
    width: 140px;
    height: 60px;
    background-color: yellow;
    position: absolute;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    transition: 0.4s;
    border: 10px solid rgb(0, 0, 0);
  }
  
  .face:hover::before {
    top: 65%;
    left: 26%;
    width: 120px;
    height: 40px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .eyes {
    display: flex;
    position: relative;
    top: 60px;
    justify-content: space-evenly;
  }
  
  .eyes .eye {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    /* margin: 0 auto; */
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
  }
  
  .pupil {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    top: 30px;
    left: 30px;

  }
